[submodule "components/uboot"]
	path = components/uboot
	url = https://gitee.com/spacemit-buildroot/uboot-2022.10.git

[submodule "components/opensbi"]
	path = components/opensbi
	url = https://gitee.com/spacemit-buildroot/opensbi.git

[submodule "components/edk2"]
	path = components/edk2
	url = https://gitee.com/spacemit-buildroot/edk2.git

[submodule "components/edk2-platforms"]
	path = components/edk2-platforms
	url = https://github.com/nadimsbaihi/edk2-platforms.git

[submodule "components/kernel-builder"]
	path = components/kernel-builder
	url = https://github.com/nadimsbaihi/debian-kernel-spacemit-builder.git

# TODO: Create this repo and update URL
[submodule "components/grub-builder"]
	path = components/grub-builder
	url = https://github.com/nadimsbaihi/grub-builder.git

[submodule "components/debian-builder"]
	path = components/debian-builder
	url = https://github.com/nadimsbaihi/debian-kernel-spacemit-builder.git

[submodule "components/esos"]
	path = components/esos
	url = https://github.com/nadimsbaihi/esos.git
